@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic,cyrillic-ext');
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

.tasks-input-container {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
    justify-content: center;
}

.container {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

.container {
    margin: 0 auto;
    margin-top: 2em;
    width: 650px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header {
    text-align: center;
    color: #43494e;
    font-family: 'quicksand';
    font-weight: 300;
}

.form__input {
    background: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1.4em;
    height: 40px;
    padding: 0 10px;
    width: 500px;
    outline: none;
}

.form__button {
    background: transparent;
    background: #2CB79C;
    color: white;
    /* border: 1px solid grey; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    float: right;
    padding: 0;
    height: 40px;
    vertical-align: top;
    width: 115px;
    outline: none;
}

.todos-list {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-size: 1.4em;
    justify-content: center;
    width: 100%;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #2CB79C;
    cursor: pointer;
    line-height: 40px;
    width: 90%;
    justify-self: center;
    align-self: center;
}

.todo-item__delete-button {
    justify-self: flex-end;
    text-align: center;
    width: 40px;
}
.todo-item__delete-button:hover {
    font-size: 1.5em;
    width: 40px;
    color: red;
    box-shadow: 0 0 0 .4px rgb(180, 58, 58);
}

.footer__button {
    font-family: 'quicksand';
    background: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    outline: 0;
    padding: 0 10px;
    line-height: 40px;
    vertical-align: top;
    margin: auto;
}

.footer__button:hover {
    box-sizing: border-box;
    box-shadow: 0 0 2px grey;
}

.delete-completed {
    float: right;
    margin-right: 0;
}

.active {
    border: 2px solid grey;
    box-sizing: border-box;
    box-shadow: 0 0 2px grey;
    font-weight: bold;
}

.disabled{
    text-decoration: line-through;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
}

.container {
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 6px -2px rgba(194,194,194,0.7);
}