.newsfeed--list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    text-transform: uppercase;
}

.card {
    width: 25rem;
    margin: 1rem;
    text-transform: capitalize;
}

.newsfeed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsItem--buttons {
    margin-top: 0.6rem;
}

.newsItem--edit-btn {
    margin-right: 0.4rem;
}

.newsItem--delete-btn {
    margin-left: 0.4rem;
}

.newsModal {
    justify-content: center;
    margin: 1rem 1rem 1rem 1rem;
}

.newsModalBtn {
    margin-left: 1rem;
}